* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}
footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    flex-wrap: wrap;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}

.footer-columns ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    justify-content: center;

}

.footer-columns li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.footer-logo {
    width: 120px;
    height: auto;
    display: flex;
    align-self: center;
}

.header {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 5%;
}

.roc-building-img {
    width: 100%;
    height: auto;
    display: block;
}

.img-header{
    height: 100%;
}
.meelopen-text {
    display: inline-block;
    margin-top: 5%;
    color: black;
    font-size: 900;
    transform: rotate(-4deg);
    display: flex;
    justify-content: center;
}

.nolinearrow1{
    width: 50px;
    height: 50px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.meelopen-box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 10px;
    height: 150px;
    width: 400px;
    background-color: #3B305A;
    color: white;
}
.meelopen-text-box{
    margin-top: 20px;
    font-weight: 500;
}
.meelopen-link-box{
    border-radius: 5px;
}