*{
    margin: 0;
    padding: 0;
}

footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-columns ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    justify-content: center;

}

.footer-columns li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer-logo {
    width: 85.99px;
    height: 60.2px;
    display: flex;
    align-self: center;
}

.header {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 5%;
}
.roc-building-img{
    width: 100%;
}

.img-header{
 height: 100%;
}