footer {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
}

.footer-columns ul{
   list-style: none;
}

.footer-columns li a{
    color: black;
    text-decoration: none;
}

.footer-logo {
    width: 85.99px;
    height: 60.2px;
    display: flex;
    align-self: center;
}