* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}
footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    flex-wrap: wrap;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}

.footer-columns ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    justify-content: center;

}

.footer-columns li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.footer-logo {
    width: 120px;
    height: auto;
    display: flex;
    align-self: center;
}

.header {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 5%;
}

.roc-building-img {
    width: 100%;
    height: auto;
    display: block;
}

.img-header{
    scale: 0.5;
}