*{
    margin: 0;
    padding: 0;
}

footer{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.footer-buttons{
    list-style: none;

}

.footer-buttons li a{
    text-decoration: none;
    color: black;
}

.footer-logo{
    scale: 0.5;
}
.header {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 5%;
}
.roc-building-img{
    width: 100%;
}

.img-header{
 height: 100%;
}