* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    flex-wrap: wrap;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}

.footer-columns ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    justify-content: center;

}

.footer-columns li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.footer-logo {
    width: 120px;
    height: auto;
    display: flex;
    align-self: center;
}

.header {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 5%;
}

.roc-building-img {
    width: 100%;
    height: auto;
    display: block;
}

.img-header {
    height: 100%;
}

.meelopen-text {
    display: inline-block;
    margin-top: 5%;
    color: black;
    font-size: 900;
    transform: rotate(-4deg);
    display: flex;
    justify-content: center;
}

.project-img {
    display: flex;
    justify-self: center;
}

.project-vakken {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 400px;
}

.project-vakken-box {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.project-vakken-box-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.project-vakken-website {
    background-color: #2B2D42;
}

.project-vakken-programmern {
    background-color: #1E3A8A;
}

.project-vakken-ict {
    background-color: #234E52;
}