footer{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.footer-buttons{
    list-style: none;

}

.footer-buttons li a{
    text-decoration: none;
    color: black;
}

.footer-logo{
    
}