* {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 5%;
}

.img-header {
    height: 100%;
}

.nolinearrow1 {
    width: 50px;
    height: 50px;
}

.roc-building-img {
    width: 100%;
    height: auto;
    display: block;
}


.project-img {
    display: flex;
    justify-self: center;
}

.project-vakken {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 400px;
}

.project-vakken-box {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.project-vakken-box-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.project-vakken-website {
    background-color: #2B2D42;
}

.project-vakken-programmern {
    background-color: #1E3A8A;
}

.project-vakken-ict {
    background-color: #234E52;
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meelopen-text {
    display: inline-block;
    margin-top: 5%;
    color: black;
    font-size: 100px;
    transform: rotate(-4deg);
    display: flex;
    justify-content: center;
}

.meelopen-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 10px;
    height: 150px;
    width: 400px;
    color: white;
    position: relative;
}
.purple{
    background-color: #3B305A;
}
.meelopen-text-box {
    margin-top: 20px;
    font-weight: 500;
}

.meelopen-link-box {
    border-radius: 5px;
    background-color: #7175B7;
    width: 80px;
    height: 15px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    color: white;
    font-size: x-small;
    gap: 10px;
}
.projecten-text{
    display: inline-block;
    margin-top: 10%;
    color: black;
    font-size: 900;
    transform: rotate(4deg);
    display: flex;
    justify-content: center;
}
.blue{
    background-color: #1E3A8A;
}
footer {
    background-color: #D9D9D9;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}

.footer-columns ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    justify-content: center;

}

.footer-columns li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.footer-logo {
    width: 120px;
    height: auto;
    display: flex;
    align-self: center;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    padding: 10px;
    text-align: left;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 5%;
}

.roc-building-img {
    width: 100%;
    height: auto;
    display: block;
}

.img-header {
    height: 100%;
}

.meelopen-text {
    display: inline-block;
    margin-top: 5%;
    color: black;
    font-size: 900;
    transform: rotate(-4deg);
    display: flex;
    justify-content: center;
}

.project-img {
    display: flex;
    justify-self: center;
}

.project-vakken {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 100%;
    height: 400px;
}

.project-vakken-box {
    width: 300px;
    height: 200px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.project-vakken-box-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.project-vakken-website {
    background-color: #2B2D42;
}

.project-vakken-programmern {
    background-color: #1E3A8A;
}

.project-vakken-ict {
    background-color: #234E52;
}
    
.nolinearrow1{
    width: 50px;
    height: 50px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.meelopen-box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 200px;
    border-radius: 10px;
    height: 150px;
    width: 400px;
    background-color: #3B305A;
    color: white;
}
.meelopen-text-box{
    margin-top: 20px;
    font-weight: 500;
}
.meelopen-link-box{
    border-radius: 5px;
}


/* Meelopen pagina */
.meelopen-top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 75px;
    gap: 40px;
}

.meelopen-header{
    margin-top: 100px;
    font-size: 4vw;
}

.meelopen-info-box{
    max-width: 53vw;
}

.meelopen-info{
    font-size: 1.6vw;
}

.meelopen-img{
    width: 47vw;
    height: auto;
}